src/main/mule/sub_poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a41178c1-be48-4a1b-b7b9-b35a80dc8224" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sub_pocFlow" doc:id="6ced215b-0b26-45ed-89d7-922a448364cb" >
		<http:listener doc:name="Listener" doc:id="b91ac2cc-c37f-4f30-825e-b2b3a0467c4f" config-ref="HTTP_Listener_config" path="/sub"/>
		<ee:transform doc:name="Transform Message" doc:id="641a1012-487a-4de5-b090-96a33c149288" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.a - payload.b
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2ed51387-67b8-4e06-86ed-af5256c45852" message="#[payload]"/>
	</flow>
</mule>
